:root {
    --primary:#3767CD;
    --secondary:#C90880;
    --dark:#1F1F1F;
    --light:#F0F4F7;
	--font2:  'Rubik';
    --dark2:#000;
    --light2:#FFF;
    --gradient: linear-gradient(240.13deg, #BE0683 -3.35%, #3E63CA 103.16%);
    --gradient-v: linear-gradient(240.13deg, #3E63CA -3.35%, #BE0683 103.16%);
}
* {
    outline: 0!important
}
body {
    font-family: 'Rubik';
    margin: 0;
    overflow-x: hidden;
    color: var(--dark);
    font-size: 16px;
    font-weight: normal;
}
html a {
    -webkit-transition: all .5s;
    transition: all .5s;
    color: var(--primary);
	text-decoration:none;
}
html a:hover {
    color: var(--dark);
}
svg,
img {
    max-width: 100%;
	height:auto;
	width:auto;
}
html .container {
    max-width: 1330px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}
section{
	position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
	z-index:1;
}
p {
    line-height:160%;
}
p:last-child{
	margin-bottom:0;
}
#wrapper {
    overflow: hidden;
    max-width: 100%;
}
::selection{
	color:#fff;
	background:var(--primary);
}
b, strong {
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6{    
    font-weight:600;
}
html .bg-light{
    background: var(--light) !important;
}
/* Custom Styles Close*/
​
section{
    padding: 100px 0 ;
}
​
.login-page {
    display: flex;
    min-height: 100vh;
    align-items: center;
    position: relative;
}
​
​
​
.login-form-wrap h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}
.login-form-wrap h5{
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}
.form-box {
    max-width: 490px;
    margin: 0 auto;
    margin-bottom: 40px;
    background: #fff;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    padding: 50px;
}
​
.form-box .form-submit-wrap {
    margin-top: 30px;
}
.form-group p {
    font-size: 13px;
    margin-top: 10px;
}
label.label {
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 4px;
    line-height: 120%;
}
input::placeholder{
    vertical-align: center;
}
.form-group .form-control {
    display: block;
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    box-shadow: 0 0 0 0 transparent !important;
    height: 44px;
    padding: 0 20px;
    font-size: 14px;
    background: #fff;
    color: var(--dark);
}
.form-group {
    margin-bottom: 20px;
    line-height: 120%;
}
.custom-checkbox label {
    display: block;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
}
.custom-checkbox label input {
    display: none;
}
.custom-checkbox label span:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    border: 1px solid #dedede;
    height: 22px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s;
}
.custom-checkbox label input:checked ~ span:before {
    border-color: transparent;
    background: var(--dark2);
}
.custom-checkbox label span:after {
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 12px;
    height: 8px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
}
.login-link-text{
    font-size: 15px;
    margin-top: 13px;
}
.login-link-text a{
    position: relative;
    color:var(--dark);
}
.login-link-text a:hover{
    color:var(--primary);
}
.login-link-text a::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 0;
    left: 10px;
    width: 97px;
    height: 14px;
    right: 0;
    background: url('/images/link-line.svg');
}
​
​
​
.product-list {
    width: 50%;
}
​
​
​
​
.login-form-wrap {
    width: 60%;
    position: relative;
}
​
​
html .btn {
    line-height: 48px;
    font-size: 16px;
    padding: 0 25px;
    border: 1px solid transparent;
    font-weight: 500;
    background: var(--dark);
    color: #fff;
    box-shadow: 0 0 0 0 transparent !important;
}
html .btn:hover{
    color:#fff;
    border-color:transparent;
    background: var(--primary);
}
html .btn.btn-outline-dark {
    border-color: #DBDBDB;
    background: #fff;
    color: var(--dark);
}
html .btn.btn-outline-dark:hover{
    color:#fff;
    border-color:var(--dark);
    background: var(--dark);
}
html .btn img {
    margin-right: 10px;
}
html .text-link-dark{
    color: var(--dark);
}
html .text-link-dark:hover{
    color: var(--primary);
}
​
html .forgot-password-link{
    font-size: 15px;
    font-weight: 400;
}
​
​
.login-gallery{
    background: var(--light2);
    padding: 0 10px ;
    display: flex;
    width: 40%;
    pointer-events: none;
}
.login-gallery-box {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.login-gallery .splide {
    width: 50%;
}
.splide__slide{
    padding: 10px;
}
​
​
​
​
.logo {
    position: absolute;
    top: 0;
    right: auto;
    left:0;
    margin:30px;
}
.m-logo {
    margin:30px;
    max-width:200px;
    position: absolute;
    top: 0;
    right: 0;
}
html .content {
    margin-bottom: 0;
    min-height: calc(100vh - 54px);
}
.login-page {
    min-height: calc(100vh - 54px);
}
​
@media (max-width:991px){
    .login-gallery {
        display: none;
    }
    .login-form-wrap {
        width: 100%;
    }
}
​
@media (max-width:767px){
.logo {
    margin: 15px;
    max-width: 110px;
}
.login-form-wrap {
    padding: 50px 15px 0;
}
.login-form-wrap h2 {
    font-size: 24px;
    font-weight: 500;
}
.form-box {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}
.form-group {
    margin-bottom: 10px;
}
footer .d-flex.justify-content-between {
    justify-content: center !important;
}
.form-submit-wrap .btn {
    margin-bottom: 0 !important;
}
​
​
​
}

@media (max-width:767px){
    .login-form-wrap {
        width: 100%;
        padding-top: 50px;
    }
    .m-logo {
        margin: 10px;
        max-width: 110px;
        position: fixed;
    }
    .login-gallery {
        display: none;
    }
    .logo {
        margin: 20px;
        max-width: 130px;
    }
    .login-page {
        padding: 0 15px;
    }
    .form-box {
        width: 100%;
        padding: 25px;
        margin-bottom: 0;
    }
}

