#mask {
  position:fixed;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  /*width:440px;
  height:200px;*/
  display:none;
  z-index:9999;
  padding:20px;
  text-align: center;
}
#boxes #dialog {
  height:auto;
  padding:10px;
  background-color:#ffffff;
  
}

